#foreach($convertableType in $convertableTypes)
<option value="$convertableType.value"
  #if($textType && $textType==$convertableType.value)
    selected
  #end>
  $convertableType.desc
</option>
#end
