<!DOCTYPE html>
<html>
  <head>
    <title>Convert Genius - convert anything freely</title>
    <link rel='stylesheet' href='/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      #parse($template)
    </div>
  </body>
</html>
